html {
	-webkit-font-smoothing: antialiased!important;
	-moz-osx-font-smoothing: grayscale!important;
	-ms-font-smoothing: antialiased!important;
}

.md-stepper-horizontal {
	width:100%;
	margin:0 auto;
}
.md-stepper-horizontal .md-step {
	display:table-cell;
	position:relative;
	padding:24px;
}

.md-stepper-horizontal .md-step:first-child .md-step-bar-left,
.md-stepper-horizontal .md-step:last-child .md-step-bar-right {
	display:none;
}
.md-stepper-horizontal .md-step .md-step-circle {
	width:30px;
	height:30px;
	margin:0 auto;
	background-color:#999999;
	border-radius: 50%;
	text-align: center;
	line-height:30px;
	font-size: 16px;
	font-weight: 600;
	color:#FFFFFF;
}

.md-stepper-horizontal .md-step.active .md-step-circle {
	background-color: #296efb;
}

.md-stepper-horizontal .md-step.done .md-step-circle *,
.md-stepper-horizontal .md-step.editable .md-step-circle * {
	display:none;
}
.md-stepper-horizontal .md-step.editable .md-step-circle {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}

.md-stepper-horizontal .md-step .md-step-title {
	margin-top:16px;
	font-size:16px;
	font-weight:600;
}
.md-stepper-horizontal .md-step .md-step-title,
.md-stepper-horizontal .md-step {
	
	color:rgba(0,0,0,.26);
}
.md-stepper-horizontal .md-step.active .md-step-title {
	font-weight: 600;
	color:rgba(0,0,0,.87);
}
.md-stepper-horizontal .md-step.active.done .md-step-title,
.md-stepper-horizontal .md-step.active.editable .md-step-title {
	font-weight:600;
}
.md-stepper-horizontal .md-step {
	font-size:12px;
}

.md-stepper-horizontal .md-step .md-step-bar-left,
.md-stepper-horizontal .md-step .md-step-bar-right {
	position:absolute;
	top:36px;
	height:1px;
	border-top:3px solid #999999;
}

.md-stepper-horizontal .md-step.active .md-step-bar-left.active 
.md-stepper-horizontal .md-step.active .md-step-bar-right.active {
    border-top:3px solid #296efb;
    
}

.md-stepper-horizontal .md-step .md-step-bar-right {
	right:0;
	left:61%;
	
}
.md-stepper-horizontal .md-step .md-step-bar-left {
	left:0;
	right:60%;
	
}

/*BOOTSTRAP STEPPER*/

.stepper-horizontal {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}



.stepper-horizontal li {
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative;
}

.stepper li a .circle {
    display: inline-block;
    color: #fff;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: rgba(0,0,0,.38);
    width: 1.5rem;
    height: 1.5rem;
    text-align: center;
    line-height: 1.5rem;
    margin-right: .5rem;
}

.stepper li.completed a .circle {
    background-color: #296efb!important;
}

.stepper li.active a .label, .stepper li.completed a .label {
    font-weight: 600;
    color: rgba(0,0,0,.87);
}

.stepper-horizontal li a .label {
    margin-top: .63rem;
}

.stepper li a {
    padding: 1.5rem;
    font-size: .88rem;
    text-align: center;
}



.stepper li a .label {
    display: inline-block;
}

.stepper-horizontal li:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 2px;
    background-color: #999;
}

.stepper-horizontal li:not(:last-child):after {
    content: "";
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin: .5rem 0 0 0;
    height: 1px;
    background-color: #999;
}

.stepper-horizontal li:not(:first-child):before {
    content: "";
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin: .5rem 0 0 0;
    height: 1px;
    background-color:#999;
}

*, ::after, ::before {
    box-sizing: border-box;
}

